.cont-landing{
    background-image: url("https://pa1.narvii.com/7845/25061e6b5567f55f366bc3fafdc43509746f11f7r5-540-304_00.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}
.img-yugioh img{
    width: 75%;
    /* width: 430px; */
}
.img-titulo img{
    width: 90%;
    /* width: 520px; */
}
.my-bgb{
    background: #dcb84d !important;
    color: rgb(70, 3, 3)!important;
    font-weight: bolder!important;
}
.my-bgb:hover{
    background: #7c6b38 !important;
    color: rgb(255, 255, 255)!important;
}

@media only screen and (max-width: 992px){
    .img-yugioh img{
        width: 340px;
    }
    .img-titulo img{
        width: 400px;
    }
}
@media only screen and (max-width: 768px){
    .img-titulo img{
        width: 380px;
    }
}
@media only screen and (max-width: 576px){
    .cont-landing img{       
        width: 280px;
    }
}