.cont-landing{
    background-image: url("https://pa1.narvii.com/7845/25061e6b5567f55f366bc3fafdc43509746f11f7r5-540-304_00.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
}.my-bgb{
    background-color: #dcb84d;

}