.cont-detail{
  background: #1c0300;
  height: fit-content;
  padding-bottom: 3rem;
}
.cont-info-detail div{
  border: 3px solid #EABE3F;
  margin-top: 1rem;
  text-align: left;
  padding: .3rem 1rem;
  color: #ECDEC4;
}
.cont-image-detail img{
  width: 370px;
}
.cont-info-detail b{
  color: #FF8C0A;
}

